.dashboard {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    /* max-width: 2000px; */
    padding: 0 !important;
}

.dashboard-content {
    min-height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
    max-width: 2000px;
    margin-left: auto !important;
    margin-right: auto !important;
    /* overflow: hidden; */
}

.scroll {
    overflow: scroll !important;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
}

.user-image {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%
}