.header {
    height: 75px;
    vertical-align:middle;
    line-height: 75px;
}

#greetings {
    float:left;
    width: fit-content;
    font-weight: 500;
    align-content: center;
    text-align: center;

}

#greetings-day {
    color: #928EE7;
    padding-left: 15px;
}

#weather-logo {
    color: #928EE7;
    width: 40px;
    height: auto;
}

#logout {
    float: right;
    border-radius: 5px;
}

#logout-button {
    background-color: #FF94A9;
    color: #FFFFFF;
}