#details-title {
    width: 100%;
    color: #474481;
    background-color: #F7F5FD;
    font-weight: 600 !important;
    margin-top: -10px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;

}

#details-view {
    overflow-y: scroll;
    height: 100%;
}

.appoint-details {
    height: 100% !important;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #F7F5FD;
    overflow-y: hidden;
}

#details-info {
    overflow-y: scroll;
    height: 100%;
}

#new-appoint {
    height: 100%;
}


.rbc-timeslot-group {
    min-height: 90px;
}

.appoint-patient-image {
    max-height: 180px;
    text-align: center;
}

/**NEW APPOINTMENT FORM**/
.summary {
    height: 230px;
}

#summary {
    height: 230px;
}