.appointment-card {
    height: 250px;
    background-color: #F2F2FC;
    border-radius: 5px;
    margin-top: 15px;
}

.appointment, .patient-image {
        padding: 0px;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
}

.appointment-hour {
    min-width: 100%;
}

.appointment-data {
    font-size: 11px;
}
.appointment-data p{
    font-size: 15px;
}