.appointment-card {
    height: 250px;
    background-color: #F2F2FC;
    border-radius: 5px;
    margin-top: 15px;
}

.appointment-hour {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
}

.appointment-data {
    font-size: 11px;
}
.appointment-data p{
    font-size: 15px;
}

.appointment-image {
    max-width: 75% !important;
    max-height: 75% !important;
    text-align: center;
    align-self: center;
}